.dropdown {
    float: left;
    overflow: hidden;
}
.dropdown .dropbtn {
    font-weight: 500;
    font-size: 22px;
    color: #572b19;
    letter-spacing: 0.025em;
    background: none;
    border: none;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #572b19;
    width: 100%;
    left: -500px;
    z-index: 1;
    min-width: 1500px;
    top: 8.9em;
    padding: 1em 10em;
}
.our-story .dropdown-content {
    left: -900px;
}
.customer-care .dropdown-content {
    left: -1010px;
}
.dropdown-content .header {
    background: red;
    padding: 16px;
    color: white;
}
.parent:hover .dropdown .dropdown-content, .dropdown-content .row {
    display: flex;
}
.dropdown-content .row {
    width: 100%;
}
.dropdown-content .column h3 {
    font-size: 16px;
    color: #f1efdc;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-align: left;
}
.dropdown-content .column {
    padding: 10px;
    flex-grow: 1;
    justify-content: space-around;
    max-width: 232px;
}
.dropdown-content .column a {
    float: none;
    font-size: 21px;
    color: #d2a74a;
    padding: 0;
    text-decoration: none;
    display: block;
    text-align: left;
    line-height: 35px;
}
.dropdown-content .column a:hover {
    color: #f1efdc;
}
.dropdown-content .column a h4 {
    color: #fff;
    margin: 0;
    padding: 10px;
    background: #c42026;
    font-size: 27px;
    font-weight: 300;
    text-align: center;
}
.our-story .dropdown-content .column:nth-child(even) a h4 {
    background: #d2a74a;
    color: #572b19;
}
.our-story .dropdown-content .column:nth-child(odd) a h4 {
    background: #f1efdc;
    color: #572b19;
}
.customer-care .dropdown-content .column:nth-child(even) a h4 {
    background: #d2a74a;
    color: #572b19;
}

/* Clear floats after the columns */
.dropdown-content .row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
/*@media (max-width: 600px) {
    .dropdown-content .column {
        width: 100%;
        height: auto;
    }
}*/