/* Gladley's Main stylesheet */

/*******HEADER*******/

.page-header .panel.wrapper {
	background-color: #d2a74a;
    min-height: 35px;
}

/***nav***/
.nav-sections {
	margin-bottom: 0;
	background-color: #f1efdc;
}
.navigation {
	background-color: #f1efdc;
}
.navigation ul {
    justify-content: space-evenly;
    display: flex;
    max-width: 960px;
    margin: 0 auto;
}
.header.content {
	background-color: #572b19;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    color: #d2a74a;
}

/***********BODY*************/

/***Slide***/
.owl-item {
	background-image: url(/images/672858860.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 540px;
}