/* Gladley's Main stylesheet */

@import url("_topnav.min.css");
@import url("_grid.min.css");
@import url("_slideshow.min.css");


/**Fonts**/
*{
    font-family: "brandon-grotesque", sans-serif;
    font-weight: 300;
    font-style: normal;
    transition: 0.6s ease;
}
h2 {
    font-family: 'Sentinel A', 'Sentinel B';
    font-weight: 300;
    font-style: normal;
}

/**Global**/
body {
    background-color: #f1efdc;
}
p, li, span {
    color: #572b19;
}
a, .alink, a:visited, .alink:visited {
    color: #f7f5e6;
}
a:hover {
    color: #572b19;
    text-decoration: none;
}


/***Buttons***/
button:not(.primary) {
    box-shadow: none;
}
.btn {
    color: #fff;
    background-color: #d2a74a;
    border: none;
    height: 50px;
    border-radius: 5px;
    font-family: "Brandon Grotesque Bold", sans-serif;
    font-weight: initial;
    text-transform: uppercase;
    font-size: 21px;
    max-width: 230px;
}
.btn.btn-alt {
    color: #e2892d;
    background-color: transparent;
    border: 2px solid #e2892d;
}
.btn:hover, .btn.btn-alt:hover {
    color: #fff;
    background-color: #e2892d;
    border: none;
    order: 2px solid transparent;
} 

/*******HEADER*******/

.page-header .panel.wrapper {
	background-color: #d2a74a;
    min-height: 35px;
}
.contentarea span, .header.links, .header.panel > .header.links > li > a {
    font-size: 16px;
    color: #f1efdc;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}
.header.panel > .header.links > li > a:hover, .contentarea span:hover {
    color: #572b19;
    text-decoration: none;
}

/***nav***/
.nav-sections {
	margin-bottom: 0;
	background-color: #f1efdc;
}
.navigation {
	background-color: #f1efdc;
}
.navigation ul {
    justify-content: space-evenly;
    display: flex;
    max-width: 960px;
    margin: 0 auto;
    min-height: 125px;
}
a.nav-link {
    font-weight: 500;
    font-size: 21px;
    color: #c59a3f;
    letter-spacing: 0.025em;
}
.navigation .level0 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.header.content {
	background-color: #572b19;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    color: #d2a74a;
}
.header.content h3 {
    margin: 0;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 16px;
    color: #d2a74a;
    letter-spacing: 0.05em;
}
@media (min-width: 768px), print {
    .sections .nav-sections {
        display: block;
    }
    .menu-mobile {
        display: none;
    }
}



/***********BODY*************/

/***Slide***/

.text {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding: 1em 10em;
    width: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}
.banner .item.content {
    max-width: 65%;
    height: 100%;
}
.banner .content h2.title {
    font-family: 'Sentinel A', 'Sentinel B';
    font-weight: 300;
    font-size: 60px;
    color: #f1efdc;
}
.banner .content .info {
    font-size: 28px;
    color: #f1efdc;
    margin-bottom: 1.2em;
}
.owl-carousel.owl-drag .owl-item {
    max-height: 450px;
}

/**Inner**/

.promo-box {
    padding: 30px 0;
}
img.promo-box-img {
    height: 290px;
}
.promo-box-headline {
    background: #fff;
    margin-top: -5px;
    padding: 1em;
    text-align: center;
    height: 150px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.promo-box-headline h3 {
    font-size: 40px;
    color: #c42026;
    line-height: 44px;
    margin: 0;
}
.promo-box-headline h3 span {
    color: #c42026;
    display: block;
}
.main-message {
    text-align: center;
}
.main-message h2 {
    font-family: 'Sentinel A', 'Sentinel B';
    font-size: 40px;
    color:#e2892d;
    line-height: 44px;
}
.main-message p {
    font-weight: bold;
    font-size: 18px;
    color: #e2892d;
    line-height: 44px;
    margin-bottom: 30px;
}

/**********FOOTER*********/

.page-footer {
    background: #fff;
}
.footer.content {
    padding-top: 40px;
    padding-bottom: 40px;
}
.footer.content .block {
    float:left;
}
.newsletter {
    max-width: 455px;
}
.newsletter .title h3 {
    font-family: 'Sentinel A', 'Sentinel B';
    font-size: 40px;
    color: #572b19;
    line-height: 44px;
    margin: 0;
    margin-bottom: 20px;
}
.newsletter .title p {
    font-size: 21px;
    color: #572b19;
    line-height: 24px;
    margin-bottom: 20px;
}
._keyfocus *:focus, input:not([disabled]):focus, textarea:not([disabled]):focus, select:not([disabled]):focus {
    box-shadow: none;
}
input#newsletter {
    color: #e2892d;
    border: none;
    border-bottom: 2px solid #e2892d;
    float: left;
    max-width: 280px;
    margin-right: 25px;
    height: 50px;
}
input#newsletter::placeholder {
    color: #e2892d;
    font-family: "brandon-grotesque", sans-serif;
    font-size: 21px;
}
.footer h4 {
    margin-bottom: 30px;
}
.footer a.nav-link {
    font-size: 16px;
    color: #572b19;
    line-height: 30px;
}
.copyright {
    background: #fff;
    border-top: 1px solid #c59a3f;
}
.copyright .content {
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    padding-left: 20px;
    padding-right: 20px;
}
.nav.justify-content-end {
    display: flex;
    list-style: none;
    margin: 0;
}
.nav.justify-content-end .nav-item {
    margin: 0;
}
.copyright .content, .copyright .content p, .copyright .content span, .copyright .content a {
    font-size: 21px;
    color: #c59a3f;
    line-height: 24px;
    font-weight: 300;
}
.copyright .content a {
    padding: 0 10px;
}
